* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: "Titillium", sans-serif;
  font-weight: 500;
}

input,
button {
  font-family: "Titillium", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto Slab", serif;
  font-weight: 300;
}
